*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    max-width: 636px;
    background-color: #FFFFFF;
}

.contain1{
        width: 804px;
        height: 180px;
        font-weight: bold;
        font-size: 70px;
        line-height: 98px;
        position: relative;
        top: 46px;
        left: 67px;
        display: flex;
    }
.contain2{
        display: flex;
        position: relative;
        left: 745px;
        top: -187px;
    } 
  .mainimg{
    width: 454px;
    height: 419px;
    padding-top: 50px;
  }   
.contain3{
        position: absolute;
        width: 664px;
        height: 118px;
        top: 410px;
        left: 73px;
        font-weight: 500px;
        font-size: 40px;
        line-height: 59px;
        } 
        
span{
    color: rgba(60, 110, 113, 1);
 } 
 
 .buttons{
    display: flex;
    position: relative;
    top: -121px;
    padding-left: 57px;
    justify-content: space-between;
    text-decoration: none;
 }
.button1{
    width: 300px;
    height: 54px;
    background-color: #D9D9D9;
    top: -28px;
    color: #000000;
    margin: 10px;
    text-decoration: none;
   position: relative;
   display: inline;
   cursor: pointer;
}

.butimg{
    width: 23px;
    height: 23px;
   position: relative;
   left: -7px;
   top:-2px;
}
.Link{
    text-decoration: none;
}
.button2{
    width: 300px;
    height: 54px;
    background-color: rgba(40, 75, 99, 1);
    top: -28px;
    color: #FFFFFF;
    margin: 10px;
   position: relative;
   text-decoration: none;
   display: inline;
   cursor: pointer;
}