<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style2.css">
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Montserrat:wght@100&display=swap');
</style>
<body>
    <div class="bigdiv">
        <div class="subdiv_img">
            <img src="easy.png" class="easy"> <br><p class="easy_text">Easy to use</p>
            <img src="everyone.png" class="everyone"> <br><p class="everyone_text">For everyone</p>
            <img src="settings.png" class="settings"> <br><p class="settings_text">Quick setup</p>
            <img src="Hassle.png" class="Hassle"> <br><p class="hassle_text">Hassle free</p>
        </div>
        <div class="reason">
            <h1 class="span">Why <span>ToDo Room</span>?</h1> 
            <p>We help you to organize your work seamlessly with Todo Room</p>
        </div>
    </div>
</body>
</html>